.navbar-logo {
    font-family: 'Arial', sans-serif; /* Burada 'Arial' yazı tipini kullanıyoruz. */
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  